.navbar {
    .nav-link{
        text-transform: uppercase;
        &.active {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: .5rem;
        }
    }
    @include media-breakpoint-up(lg) {
        .navbar-brand,
        .navbar-nav-utils {
            width: 30vw;
        }
    }
}
