@import "variable";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

.swiper {
    width: 280px;
    height: 280px;
    .swiper-slide {
        display: flex;
        //align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-size: .875rem;
        background-color: white;
        box-shadow: $box-shadow;
        > img {
            max-width: 50%;
            height: auto;
            margin: 0 auto;
        }
    }
}
