@import "variable";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

.swiper {
    width: 240px;
    height: 320px;
    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
        background-color: white;
        box-shadow: $box-shadow;
        > img {
            max-height: 80%;
        }
    }
}
