{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul class="nav nav-tabs mt-3">
            {% set links = [
                {'title': 'Home',
                    'path': 'app_admin',
                    'controller': 'Admin\\AdminController'
                },
                {'title': 'Instruments',
                    'path': 'app_admin_instrument_index',
                    'controller': 'Admin\\AdminInstrumentController'
                },
                {'title': 'Sounds',
                    'path': 'app_admin_sound_index',
                    'controller': 'Admin\\AdminSoundController'
                },
            ] %}

            {% set _controller = app.request.attributes.get("_controller")|split('::') %}
            {% for link in links %}
                <li class="nav-item">
                    <a href="{{ path(link.path) }}" class="nav-link {{ activeClass([link.controller]) }}"
                        {{ link.controller == _controller[0] ? 'aria-current="page"'  }}>
                        {{ link.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="py-5 px-3">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
